<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Overview</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="logo">Home Automation</div>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/features"><i class="fas fa-cogs"></i> Features</a></li>
            <li><a href="/dashboard" class="active"><i class="fas fa-chart-pie"></i> Dashboard</a></li>
            <li><a href="/chat"><i class="fas fa-comments"></i> Chat with ChatGPT</a></li>
            <li><a href="/notifications"><i class="fas fa-bell"></i> Notifications</a></li>
            <li><a href="/rooms-data"><i class="fas fa-database"></i> Rooms Data</a></li>
            <li><a href="/login"><i class="fas fa-user"></i> Login</a></li>
            <li><a href="/about"><i class="fas fa-info-circle"></i> About Us</a></li>
            <li><a href="/contact"><i class="fas fa-envelope"></i> Contact Us</a></li>
          </ul>
    </div>

    <!-- Hamburger menu -->
    <div class="toggle-btn" onclick="toggleSidebar()">
        &#9776;
    </div>

    <div class="main-content" id="main-content">
        <div class="dashboard-container">
            <!-- Stats Overview Section -->
            <h1>Dashboard </h1>
            <div class="stats-grid">
                <div class="stats-card">
                    <h3>Rooms</h3>
                    <p><%= roomCount %></p>
                    <i class="icon fas fa-home"></i>
                </div>
                <div class="stats-card">
                    <h3>Sensors</h3>
                    <p><%= sensorCount %></p>
                    <i class="icon fas fa-microchip"></i>
                </div>
                <div class="stats-card">
                    <h3>Readings</h3>
                    <p><%= readingCount %></p>
                    <i class="icon fas fa-database"></i>
                </div>
                <div class="stats-card">
                    <h3>Reading Type</h3>
                    <p><%= readingTypeCount %></p>
                    <i class="icon fas fa-cogs"></i>
                </div>
            </div>
            


            <!-- Sensor Averages Section -->
            <h2>Averages</h2>

            <div class="sensor-averages">
                <% averageData.forEach(sensor=> { %>
                    <div class="average-card">
                        <div class="icon">
                            <% if (sensor.type==='CO2' ) { %>
                                <i class="fas fa-cloud"></i>
                                <% } else if (sensor.type==='Humidity' ) { %>
                                    <i class="fas fa-tint"></i>
                                    <% } else if (sensor.type==='Light' ) { %>
                                        <i class="fas fa-lightbulb"></i>
                                        <% } else if (sensor.type==='PIR' ) { %>
                                            <i class="fas fa-eye"></i>
                                            <% } else if (sensor.type==='Temperature' ) { %>
                                                <i class="fas fa-thermometer-half"></i>
                                                <% } %>
                        </div>
                        <h3>
                            <%= sensor.type %>
                        </h3>
                        <p>avg: <%= sensor.value %>
                        </p>
                    </div>
                    <% }); %>
            </div>



        </div>
    </div>



    <script src="/js/frontend.js"></script>

</body>

</html>